<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>21576150906-i7rgqbjf6g7qpnbbles60ro0s9ngbf7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21576150906-i7rgqbjf6g7qpnbbles60ro0s9ngbf7e</string>
	<key>API_KEY</key>
	<string>AIzaSyCOmSIvfJrOtFDZ154I8y3x7Zj6ABMliEg</string>
	<key>GCM_SENDER_ID</key>
	<string>21576150906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BrahmAndPrince.ios</string>
	<key>PROJECT_ID</key>
	<string>artist-corner-ffecc</string>
	<key>STORAGE_BUCKET</key>
	<string>artist-corner-ffecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21576150906:ios:7bbb6d705230d3ea</string>
	<key>DATABASE_URL</key>
	<string>https://artist-corner-ffecc.firebaseio.com</string>
</dict>
</plist>